body{
	margin: 0;
	padding: 0;
	font-family: 'Coda Caption', sans-serif;
	background: url("image/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-top: 3px solid #FFFFFF;
	color: #191919;
}
.name{
	text-align: center;
	background: #099EBD;
	padding-top: 5px;
	border-bottom: 3px solid #FFFFFF;
	box-shadow: 0px 6px 18px 0px rgba(46,85,143,1);
}
.name h2{
	font-weight: normal;
	margin-top: 5px;
	font-size: 14px;
}
.name .author-photo{
	max-width:60px;
	border-radius: 50%;
	padding-bottom: 10px;
}

.name .author-photo img{
	max-width: 100%;
}
.main-article{
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 6px 18px 0px rgba(46,85,143,0.6);
	border-bottom: 3px solid #FFFFFF;
}
.main-article h3{
	font-weight: normal;
}
.main-article p{
	font-size: 16px;
}
.icons img{
	max-width: 60px;
	text-align: center;
}
.list{
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 3px solid #FFFFFF;
	box-shadow: 0px 6px 18px 0px rgba(46,85,143,0.6);
}
.list h3{
	font-weight: normal;
	padding-top: 5px;
}

.list li{
	font-size: 16px;
}
.list ul{
	padding: 0;
	list-style: none;

}
.list ul li{
	margin-top: 5px;
}
.icons{
	padding-left: 10px;
	padding-right: 10px;
}
.icons h3{
	font-weight: normal;
}
.icons .pictures{
	text-align: center;
}
.icons .pictures img{
	padding-left: 10px;
	padding-right: 10px;
	max-width: 30px;
	max-height: 30px;
	border:1px solid #3EBBD7;
	padding: 5px;
	border-radius: 50%;
}
.icons .pictures img:hover{
	background: #DEDEDE;
	border:solid 2px #FFFFFF;
	transition-duration:2s;
}
footer{
	float: left;
	padding-left: 10px;
}
footer p{
	font-size: 12px;
}

@media (min-width: 640px){
	.name{
		background: #099EBD;
		padding-left: 15px;
		padding-right: 15px;
	}
	.name h2{
		font-size: 24px;

	}
	.name .author-photo{
		max-width:120px;
		border-radius: 50%;
		padding-bottom: 10px;
	}
	main{
		padding-bottom: 60px;
		border-bottom: 3px solid #FFFFFF;
		box-shadow: 0px 6px 18px 0px rgba(46,85,143,0.6);
	}
	.main-article{
		display: inline-block;
		max-width: 45%;
		box-shadow:  none;
		border: none;
		padding-bottom: 60px;
	}
	.main-article h3{
	}
	.list{
		display: inline-block;
		float: right;
		max-width: 45%;
		border: none;
		box-shadow:  none;
	}
	.list ul{
		list-style: none;
	}
	.icons h3{
		text-align: center;
	}
	.icons .pictures img{
		max-width: 60px;
		max-height: 60px;
	}
}